
:root {
    --primary-bg-color:#2F303A;
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color: #2196F3;
    --btn-hover:#188CE8;
    --spec-color: #FFF;
    --fh-bg-color: #2F303A;
    --color-footer:rgba(255, 255, 255, 0.6);
    --bg-color-button: #F5F4FA;
    --border-bottom: #ECECEC;
    --border-card:#EEEEEE;
    --border:#AFB1B8;
    --color-social-network-bg:rgba(255, 255, 255, 0.1);
    --bg-color-uppertext: rgba(33, 150, 243, 0.9);
    --input-border-color:rgba(33, 33, 33, 0.2);
    --color-text-input: rgba(117, 117, 117, 0.5);
}

body {
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}


a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    min-width: 100%;
}

/* Головна сторінка */
/* Основні параметри контейнера */
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   }

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.no-pb {
    padding-bottom: 0;
}




/* Прибирає стилі */
.list {
    list-style: none;
    padding-left: 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    margin-right: 93px;
}

.logo .head {
    color: var(--primary-text-color);
}

/* Site navigation*/

.main-header {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
}


.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px; 

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
    
}
.site-nav .link.current  {
    color: var(--accent-color);
}

/* Header contacts*/
.cont-nav {
    display: flex;
    margin-left: auto;
}

/* Відступ між контактами */
.cont-nav .item + .item {
    margin-left: 50px;
}

.cont {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    /* transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

/*  */

.cont-nav .cont:hover,
.cont-nav .cont:focus {
    color: var(--accent-color);
} 
.cont:hover .icon-mail,
.cont:focus .icon-mail, 
.cont:hover .icon-phone,
.cont:focus .icon-phone{
    fill:var(--accent-color);
}

/* Ще один варіант ховера 
   іконки разом із посиланням
   Додати змінну fill="var(--icon-color, #000)" в svg
     .icon-mail{
        width: 16px;
            height: 12px;
            margin-right: 10px;
            --icon-color: currentColor;
     }

   */

.icon-mail{
    width: 16px;
    height: 12px;
    margin-right: 10px;

    fill: var(--title-text-color); 

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    /* transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}


.icon-phone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill:var(--title-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}



/* Лінія під хедером */
.brd {
    border-bottom: 1px solid var(--border-bottom);
}

.site-nav .item {
    position: relative;
}

.current::after {
    content: '';
    display: flex;
    position: absolute;
    bottom: 0;
    
    width: 100%;
    border-bottom: 4px solid var(--accent-color);
    border-radius: 2px;
}

/* Hero */
.section-main {
    padding-top: 200px;
    padding-bottom: 200px;
    
    text-align: center;
    background-color: var(--primary-bg-color); 
}

.section-main .title {
    margin-bottom: 40px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--spec-color);
    
}

.button {
    font-family: inherit;    
    color: var(--spec-color);
    cursor: pointer;
    background-color: var(--accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.button:hover,
.button:focus {
    background-color:var(--btn-hover);
}

.section-main .button {
    min-width: 200px;
    padding: 10px 32px;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    border-radius: 4px;
    border: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Фон */
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/Fon.jpg);
}

/* Section  */
/* Ховає заголовок h2 "Наши особенности" */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*  ================
    Чим ми займаємся
    ================ */

.specifics {
    display: flex;
    justify-content: space-between;
}

.specifics .item:not(:last-child) {
    margin-right: 30px;
} 

.specifics .item {
    width: 270px;
} 

.doing-thumb{
    position: relative;
}

.title-descr {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 370px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--spec-color);
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
}


.specifics .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    text-transform: uppercase;
}
.specifics .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.item-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px; 
    height: 120px; 
    margin-bottom: 30px;
    background-color: var(--bg-color-button);
    border-radius: 4px;
}
.icon-feature {
    width: 70px;
    height: 70px;
}

.doing {
    display: flex;
    flex-wrap: wrap;
}

.doing .item.item:not(:last-child) {
    margin-right: 30px;
}


/* =============
    Наша команда
    ============ */

.team {
    display: flex;
    flex-wrap: wrap;
}

.section.color {
    background-color: var(--bg-color-button);
}

.team .item {
    text-align: center;
    width: 270px;
}

.team .item.item:not(:last-child) {
    margin-right: 30px;
}

.team .item.item:nth-child(4n) {
    margin-right: 0;
}

.item:nth-last-child(-n + 4) {
    margin-bottom: 0;
}


.team .title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
}


.team .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

.itemdescr {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--spec-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}



/* ===============
    Соцмережі команди 
   ===============*/
.social-network {
    display: flex;
    margin-top: 16px;
    justify-content: center;
}


.social-network .link-team {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
   }

.link-team:hover,
.link-team:focus{
    background-color: var(--accent-color);
    border-radius: 50%;
}

.link-team:hover .item-socteam,
.link-team:focus .item-socteam {
    fill: var(--spec-color);
}


.item-socteam {
    width: 20px;
    height: 20px;
    fill: var(--border);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-socnet:not(:last-child) {
    margin-right: 10px;
}


/* =================
    Постійні клієнти
   ================= */
.clients{
    display: flex;
    justify-content: space-between;
}

.link-client {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--border);
    fill: var(--border);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
/* fill="#afb1b8" style="fill:var(--color3, #afb1b8)" */

.itemclients{
    width: 106px;
    height: 60px;
}


.link-client:hover,
.link-client:focus{
    fill:var(--accent-color);
    border: 1px solid var(--accent-color);
}

/*  ================
     Footer 
     ===============*/
.logo .footer {
    color: var(--spec-color);
}
 
.no-mrr {
    margin-right: 0;
}

.footermain {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--primary-bg-color);
}

.address {
    /* display: flex;  */
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--spec-color);
}
.list .info {
    display: inline-block;
    color: var(--color-footer);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.list .info:hover,
.list .info:focus {
    color: var(--accent-color);
}

.info {
    /* display: inline-block; */
}

.li-foot:not(:last-child) {
    margin-bottom: 9px;
}

.addrtext {
    margin-bottom: 9px;
}

.footermain .container {
    display: flex;
    align-items: baseline;
}

.connect {
    margin-left: 70px;
}
.connect .title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--spec-color);
    text-transform: uppercase;
}

.soc-net {
    display: flex;
    justify-content: space-between;
}

.link-snfoot {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-social-network-bg);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.item-soc-foot {
    width: 20px;
    height: 20px;
    fill: var(--spec-color);
}

.link-snfoot:hover,
.link-snfoot:focus{
    background-color: var(--accent-color);
}

.soc-net .item-social:not(:last-child) {
    margin-right: 10px;
}


/* ===================
    Форма Підписатись
   ===================  */
.form {
    display: flex;
    margin-left: 93px;
    align-items: center;
    justify-content: center;
}

.form .title {
    display: flex;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--spec-color);
    text-transform: uppercase;
}

.mail {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: var(--fh-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--title-text-color);
}

.mail:focus{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.form .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    padding:10px 29px;
    border: none;
    border-radius: 4px;
    margin-left: 12px;
    background-color: var(--accent-color); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form .button:hover {
    background-color: var(--btn-hover);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


/* ---------------------------------- */
/* Portfolio */
/* buttons */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.filter .button {  
    font-family: Roboto, sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: var(--bg-color-button);
    color: var(--primary-text-color);

    border: 0;
    padding: 6px 22px;
    border-radius: 4px;
    min-width: 73px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

 /* Кнопки в портфоліо */
.filter .btn-item:not(:last-child) {
    margin-right: 8px;
}

.filter .button:hover,
.filter .button:focus {
    color: var(--spec-color);
    background-color: var(--accent-color);
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
                
}


/* list project */

.project {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}


.project-item:nth-child(3n) {
    margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.proj-descr {
    padding: 20px 24px;

    border-right: 1px solid var(--border-card);
    border-left: 1px solid var(--border-card);
    border-bottom: 1px solid var(--border-card);
    border: 1px solid var(--border-card);
}
.project-thumb {
    position: relative;
    overflow: hidden;
}


.link-li:hover .uppertext,
.link-li:hover .project-overlay,
.link-li:focus .uppertext,
.link-li:focus .project-overlay,
.link-li:hover,
.link-li:focus
{
    opacity: 1;
    transform: translateY(0);
    transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16); 
    
    } 

.project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    
    width: 100%;
    height: 295px;
    
    opacity: 1;
    background-color: var(--bg-color-uppertext);
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.uppertext{
    position: absolute;
    
    width: 322px;
    height: 168px;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px; 
        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--spec-color);

    overflow: hidden;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.link-li {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}


.list .titles {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--title-text-color);
}


/*  ==================
    Модальне вікно
    ================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* transition-property: all; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;
    width: 528px;
    /* height: 581px; */

    background-color: var(--spec-color);
    border-radius: 4px; 

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;

    margin-top: 8px;
    margin-right: 8px;

    width: 30px;
    height: 30px;

    background-color: var(--spec-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);   
}

.icon-close {    
    width: 11px;
    height: 11px;
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover .icon-close,
.button-modal:focus .icon-close {
    fill:var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====================
    Модальне вікно
   ==================== */

.title-backdrop {
    display: block;
    margin-bottom: 12px;
    
    font-size: 20px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;    
}

.form-field.comments {
    
    margin-bottom: 20px;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;
}

.form-input {    
    padding-left: 42px;
    height: 40px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-input {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    pointer-events: none;
    
}

.form-field:focus-within > .icon-input {
    fill:var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.form-input:focus {
    border-color:var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--color-text-input);
}

.textarea {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    

    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    outline: none;
    border-radius: 4px;
    border: 1px solid var(--input-border-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: var(--accent-color);
    padding: 12px 16px; 

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



 .check-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
 }

 .icon-check {
    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 15px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }



 .checkbox-unchecked {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;

    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 }

.check-input:checked + .icon-check {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .check-input:checked ~ .checkbox-unchecked {
      border-color: var(--accent-color);
  }

  .check-input:hover ~ .checkbox-unchecked,
  .check-input:focus ~ .checkbox-unchecked {
    border-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
 }

 .checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
    user-select: none;
 }

 .checkbox-lable {
    position: relative;
    box-sizing: border-box;
    width: 16px;
    height: 15px;
    margin-right: 8px;
 }    

 .link-policy {
     color: var(--accent-color);
     text-decoration: underline;
 }

 .check-option + .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 200px;
    min-height: 50px;
    border: none;
    border-radius: 4px;
    margin: auto;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-option + .button:hover,
.check-option + .button:focus {
    background-color: var(--btn-hover);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}